<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mi first awesome page with webpack</title>
  </head>
  <body ng-app="myApp">
    <div ng-controller="MainController as vm">
      <header>
        <h2>My first awesome page builded with webpack</h2>
        <p>
          Written in typescript with angular 1.5 and bootstrap.
        </p>
      </header>
      <div class="container">

        <span class="col-md-2">{{vm.state}}</span>
        <div class="col-md-2">

          <button type="button"  class="btn btn-primary" name="button" ng-click="vm.changeStatusToHello()">Change status</button>
        </div>
      </div>
    </div>
  </body>
</html>
